.table{
   margin-top: 10px;
}

.footer{
   margin-top: 10px;
}

.defaultBtn{
   display: flex;
   justify-content: end;
}

.cardTable{
   margin-top: 20px;
}

.tableHeader{
   display: flex;
   justify-content: end;
}
